#master_grid {
    layout: grid;
    grid-size: 2 2; /* that should be 2 columns and 2 rows probably */
}

/* kinda stretching widgets to fill their boxes */
StopwatchApp, BRAINTracker, RAMMonitor, AnimeArt {
    width: 100%;
    height: 100%;
    content-align: center middle;
}

BRAINTracker { border: heavy cyan; }
RAMMonitor { border: heavy magenta; }
AnimeArt { border: heavy yellow; }
StopwatchApp { border: heavy green; }